.section-content {
    margin-top: 3em;
    padding: 2em;
}

.section_title {
    text-align: center;
}

.article-content {
    padding-top: 2em;
}

.article-image {
    border-radius: 25%;
    border: 5px solid black;
}

.center {
    text-align: center;
}

.logo-img {
    max-width: 3em;
    max-height: 3em;
}

/* Profile section */
.backgroundVideo {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.profile-img {
    border-radius: 50%;
    border: 3px solid black;
    max-width: 210px;
    max-height: 210px;
}

.profile-content {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 40%;
  margin-top: 20vh;
  margin-left: 30%;
}

.profile-font {
    font-family: Ubuntu Mono;
}

/* Projects section */
.project-description {
    padding: 1em;
    text-align: justify;
}

/* Certificates section */
.certificate-img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 3em;
    margin-right: 2em;
    margin-left: 2em;
}

.certificate-img-angular {
    padding-top: 30%
}

/* Footer */
footer {
  bottom: 0;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 1em;
  background-color: black;
}

.social-icon {
    padding-right: 1em;
    color: gray;
}

#footer i:hover {
    color: white;
}

.social-icon-link {
 text-decoration:none
}





