/* Generic - used it broadly*/
.center {
    text-align: center;
}

.round-img {
    border-radius: 50%;
    border: 3px solid black;
}

/* Sections */
.section-content {
    margin-top: 3em;
    padding: 2em;
}

.section_title {
    text-align: center;
}

/* Articles*/
.article-content {
    padding-top: 2em;
}

.article-image {
    border-radius: 25%;
    border: 5px solid black;
}

/* Navbar */
.navbar-nav .nav-color {
    color: rgba(255,255,255,.55);
}

.navbar-nav .dark-mode {
    color: rgba(255,255,255,.55);
    background: transparent;
    border: 0px;
    padding-top: 8px;
    padding-left: 0;
}

.navbar-nav .dark-mode-toggle {
    margin-top: .6rem;
}

/* Profile section */
.backgroundVideo {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.my-img {
    max-width: 40%;
}

.profile-content {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #f1f1f1;
  width: 40%;
  margin-top: 20vh;
  margin-left: 30%;
}

.profile-font {
    font-family: Ubuntu Mono;
}

/* Testimonial section */
.testimonial-img {
    max-width: 13em;
    max-height: 13em;
    margin-right: auto;
    margin-left: auto;
}

/* Projects section */
.project-description {
    padding: 1em;
    text-align: justify;
}

/* Certificates section */
.certificate-img {
    max-width: 200px;
    max-height: 200px;
    margin: 3em;
}

/* Footer */
footer {
  bottom: 0;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 1em;
  background-color: black;
}

.social-icon {
    padding-right: 1em;
    color: gray;
}

#footer i:hover {
    color: white;
}

.social-icon-link {
 text-decoration:none
}

/* Dark mode */
.dark-mode {
  background-color: #010409;
  color: #c9d1d9;
  border: 1px solid rgb(152, 151, 151);
}

.dark-mode-check-input:checked {
    background-color: #009f21;
    border-color: #010409;
}

.dark-mode-check-input:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(33, 37, 41);
    border-color: #010409;
}

.dark-mode-carousel-button {
    filter: invert(0) !important;
}

/* Animation */
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.content-fadeIn {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.content-fadeIn.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/* Media query for mobile */
@media (max-width: 767px) {
    .hidden-mobile {
      display: none;
    }
}