p {
  text-align: justify;
}

.section-content {
    margin-top: 3em;
    padding: 2em;
}

.section_title {
    text-align: center;
}

.article-content {
    padding-top: 2em;
}

.article-image {
    border-radius: 25%;
    border: 5px solid black;
}

/*Profile section*/
.backgroundVideo {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}



.center {
    text-align: center;
}



.project-description {
    padding: 1em;
}

.testimonial-img {
    border-radius: 50%;
    border: 5px solid black;
    max-width: 210px;
    max-height: 210px;
}

.testimonial-space {
    margin-top:3em;
}



footer {
  bottom: 0;
  width: 100%;
  padding: 3em;
  background-color: black;
}





