.profile {

}

.backgroundVideo {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.section_separation {
    padding-top: 50px;
}

.work {
    text-align: center;
    background-color: green;
}

.education {
    text-align: center;
    background-color: gray;
}

p {
  text-align: justify;
}





