p {
  text-align: justify;
}

.section-content {
    margin-top: 3em;
    padding: 2em;
}

.section_title {
    text-align: center;
}

.article-content {
    padding-top: 2em;
}

.article-image {
    border-radius: 25%;
    border: 5px solid black;
}

.center {
    text-align: center;
}

/* Profile section */
.backgroundVideo {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

/* Projects section */
.project-description {
    padding: 1em;
}

/* Testimonial section */
.testimonial-img {
    border-radius: 50%;
    border: 5px solid black;
    max-width: 210px;
    max-height: 210px;
}

.add-top-space {
    margin-top:3em;
}

/* Certificates section */
.certificate-img {
    max-width: 200px;
    max-height: 200px;
}

.certificate-img-angular {
    padding-top: 30%
}

.certificate-img-aws {
    padding-top: 20%
}

footer {
  bottom: 0;
  width: 100%;
  padding: 3em;
  background-color: black;
}





